.env
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
*.log
scripts/.refcache/

.vscode/
tests/

# Local Redis snapshots created by the recording guide's T1 command
/dump.rdb
/appendonlydir/
